body {
font-family: "Oswald", sans-serif;
background-color: #F0653B;
/*hace que el footer se pegue abajo del todo*/
height: 100%;
width: auto;
}



.rotated {
transform:rotateY(360deg); /* Rotación de 360 grados */
}

/*Texto titulo*/

.titulo {
font-family: "Bebas Neue", sans-serif;
}

.titulo .naranja {
color: #f97e3c;
}

.logo a {
display: flex;
/* Disposición en línea de los hijos directos */
align-items: center;
/* Alinea los elementos verticalmente */
text-decoration: none;
/* Quita el subrayado del enlace */
color: inherit;
/* Mantiene el color del texto */
}

.logo a:hover {
transform: scale(1.1);
/* Aumenta el tamaño del enlace al 110% del tamaño original */
transition: transform 0.2s;
/* Agrega una transición suave para que el efecto sea gradual */
}

.imglogo {
width: 50px;
height: auto;
}



/*Navbar*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
background: #333;
color: #fff;
padding: 10px 0;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}

.logo h1 {
margin: 0;
}

.menu-toggle {
display: none;
flex-direction: column;
cursor: pointer;
}

.menu-toggle .bar {
width: 25px;
height: 3px;
background-color: #fff;
margin: 4px 0;
}

.nav-links {
list-style: none;
display: flex;
}

.nav-links li {
margin: 0 15px;
}

.nav-links a {
text-decoration: none;
color: #fff;
font-size: 16px;
}


.menu-toggle {
display: flex;
}

.nav-links {
z-index: 10; /*Hace que la hamburguesa se despliegue por encima de todo*/
position: absolute;
top: 60px;
left: 0;
width: 100%;
background: #333;
flex-direction: column;
align-items: center;
height: 0;
overflow: hidden;
transition: height 0.3s ease-in-out;
}

.nav-links li {
margin: 20px 0;
}

.nav-links a {
font-size: 24px;
}

.nav-links.active {
height: calc(100vh - 60px);
/* Dejar espacio para el header */
}




/*card*/

body {
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.profile-name {
    font-family: "Oswald", sans-serif;
    margin: 0;
    font-size: 24px;
    color: #333;
}

.profile-name-input{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    color: #333333;
}

.nombre{
    display: flex;
    justify-content: center;
}

.profile-info {
    font-size: 16px;
    color: #555;
}

.guardarname{
    padding-top: 15px;
    padding-bottom: 5px;
}

.guardarname button{
    font-family: "Oswald", sans-serif;
}

.guardarname button:hover{
    transform: scale(1.05);
    transition: transform 0.15s ease;
}






/*Hace que la foto de perfil se ponga borrosa*/






.profile-picture {
    transition: filter 0.3s ease;
}

.profile-picture:hover {
    filter: blur(4px);
}


.profile-header:hover .edit-icon {
    opacity: 1;
}






/*edit foto*/

.edit-form-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.edit-form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.profile-header {
    position: relative;
}
.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.custom-file-input {
    display: none;
}



.custom-file-label {
    display: inline-block;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
}

.botonfoto{
    color: white;
    background-color: #F0653B;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.botonfoto:hover{
    transform: scale(1.05);
    transition: transform 0.15s ease;
    cursor: pointer;
}

.subir{
    text-align: center;
}

label{
    background-color: #333333;
}

label:hover{
    transform: scale(1.05);
    transition: transform 0.15s ease;
}









/*Contraseña*/

.change-password {
    display: inline-block; /* Para que se comporte como un botón */
    padding: 5px 20px; /* Añade espacio interno al botón */
    background-color: white; /* Color de fondo blanco */
    border: 2px solid gray; /* Borde gris */
    color: #555; /* Color del texto */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Quitar subrayado */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados (opcional) */
    font-family: "Oswald", sans-serif;
}

.change-password:hover{
    transform: scale(1.05);
    transition: transform 0.15s ease;
    border: 2px solid black;
    color: black;
}

.change-password {
    margin-top: 20px;
}



/*overlay contraseña*/


.change-password-overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.change-password-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.form-buttons .botonfoto {
    padding: 10px 20px;
    background-color: #F0653B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Oswald", sans-serif;
}

.form-buttons .botonfoto:hover {
    background-color: #d9542e;
}

.message {
    background-color: #F0653B;
    color: white;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.nohover:hover{
    transform: none;
}










/*Footer*/

.content {
    height: 100%;
    width: auto;
}



footer {
    overflow: hidden;
    background-color: #212529;
    color: rgb(165, 165, 165);
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
}

.textofooter{

    text-align: center;
    display: flex;
}

footer a{
    color: rgb(165, 165, 165);
}

footer a:hover {
transform: scale(1.1); /* Aumenta el tamaño del enlace al 110% del tamaño original */
transition: transform 0.2s; /* Agrega una transición suave para que el efecto sea gradual */
}


.redeslogo{
    width: 40px;
    height: auto;
}

.content{
    height: 100%;
    width: auto;
}







.profile-container {
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}
.profile-header {
    position: relative;
    display: inline-block;
}
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: filter 0.3s;
}
.edit-icon {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}
.profile-header:hover .profile-picture {
    filter: blur(5px);
}
.profile-header:hover .edit-icon {
    opacity: 1;
}



/*Asegura que el footer se pegue abajo del todo*/

/* Asegurarse de que el html y body ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
}


/* Estilo para el footer para asegurarse que está al fondo */
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: relative;
    width: 100%;
}

