body {
    background: linear-gradient(to bottom right, #f9683c, #292c2f);
    font-family: "Oswald", sans-serif;
}



/*Texto titulo*/

.titulo {
    font-family: "Bebas Neue", sans-serif;
}

.titulo .naranja {
    color: #f97e3c;
}

.logo a {
    display: flex;
    /* Disposición en línea de los hijos directos */
    align-items: center;
    /* Alinea los elementos verticalmente */
    text-decoration: none;
    /* Quita el subrayado del enlace */
    color: inherit;
    /* Mantiene el color del texto */
}

.logo a:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño del enlace al 110% del tamaño original */
    transition: transform 0.2s;
    /* Agrega una transición suave para que el efecto sea gradual */
}

.imglogo {
    width: 50px;
    height: auto;
}



/*Navbar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}


.menu-toggle {
    display: flex;
}

.nav-links {
    z-index: 10;
    /*Hace que la hamburguesa se despliegue por encima de todo*/
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #333;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.nav-links li {
    margin: 20px 0;
}

.nav-links a {
    font-size: 24px;
}

.nav-links.active {
    height: calc(100vh - 60px);
    /* Dejar espacio para el header */
}


.cuadrolist {
    text-align: center;
    padding-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    background-color: #f9683c;
    justify-content: center;
}

@media (min-width: 960px) {
    .cuadrolist{
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

.cuadrolist a{
    text-decoration: none;
    color: #f9683c;
    background-color: #333333;
}

@media(max-width: 960px) {
    .cuadrolist {
      grid-template-columns: repeat(2, 2fr);
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
  
    a {
      width: 50%;
      height: auto;
    }
  
    a h3{
      font-size: 25px;
  
    }

    .card{
        padding-right: 10px;
    }
  }

/*cards*/


:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1);
}

@media(max-width: 1080px) {
    :root{
        --card-height: 200px;
    }
}

* {
    box-sizing: border-box;
}


.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    padding-bottom: 35px;
    perspective: 2500px;
    margin: 0 25px;
}


@media(max-width: 960px) {
    .card{
        margin: 0 0px;
    }

    .cardPadre{
        justify-content: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    :root {
        --card-height: 180px;
        --card-width: calc(var(--card-height) / 1);
    }
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(10deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}





.link {
    color: #333333;
    font-weight: bold;
            text-shadow: 
                1px 1px 0 #f9683c,   /* sombra inferior derecha */
                -1px -1px 0 #f9683c, /* sombra superior izquierda */
                1px -1px 0 #f9683c,  /* sombra superior derecha */
                -1px 1px 0 #f9683c;  /* sombra inferior izquierda */

    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
    font-size: 20px; /* Tamaño de fuente inicial */
    transition: font-size 0.3s ease; /* Transición suave de tamaño de fuente */
}





/* Agregar ejercicio */

.agregarpadre{
    background-color: #f9683c;
    padding-top:40px;
    padding-right:300px;
    padding-left:300px;
    padding-bottom:20px;
}

@media(max-width: 960px) {
    .agregarpadre{
        padding-left: 20px;
        padding-right: 20px;
    }
}


.agregar{
    background-color: #333333;
    border-radius: 7px;
    box-shadow: 15px 15px 7px;
}

.agregar:hover{
    transform: scale(1.04);
    transition: transform 0.4s;
    cursor:pointer;
}

.btnAgregar{
    text-align: center;
    color: #ffff;
}



/* Overlay agregar */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

@media(max-width: 960px) {
    .overlay-content{
        width:360px;
        max-width: 95%;
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

input[type="text"],
textarea,
select,
input[type="url"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    font-family: "Oswald", sans-serif;
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #e65c00;
}











/*Footer*/

footer {
	overflow: hidden;
	background-color: #212529;
	color: rgb(165, 165, 165);
	width: 100%;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	text-align: center;

}

.textofooter{
	text-align: center;
}

footer a{
	color: rgb(165, 165, 165);
}

footer a:hover {
  transform: scale(1.1); /* Aumenta el tamaño del enlace al 110% del tamaño original */
  transition: transform 0.2s; /* Agrega una transición suave para que el efecto sea gradual */
}

a p:hover{
    transform: scale(1.1); /* Aumenta el tamaño del enlace al 110% del tamaño original */
  transition: transform 0.2s; /* Agrega una transición suave para que el efecto sea gradual */
}


.redeslogo{
	width: 40px;
	height: auto;
}






/*Asegura que el footer se pegue abajo del todo*/

/* Asegurarse de que el html y body ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
}

/* Hacer que el main contenedor ocupe todo el espacio disponible */
main {
    background-color: #f9683c;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Opcional: centrar el contenido verticalmente */
}

/* Estilo para el footer para asegurarse que está al fondo */
footer {
    text-align: center;

    background-color: #333;
    color: white;
    position: relative;
    width: 100%;
}






/*Descripcion ejercicio*/

.infopadre{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

.infohijo{
    background-color: #333333;
    padding-bottom: 30px;
}

.video-container{
    text-align: center;
}

.video-container iframe, .video-container video {
    border: 5px solid #534b4b; /* Borde blanco */
    border-radius: 8px; /* Opcional: redondear bordes */
    box-shadow: 15px 15px #f9683c; /* Opcional: añadir sombra */
}

.textodesc{
    background-color: #534b4b;
    border-radius: 10px;
    border-color:#e65c00;
    border-style: solid;
}

.editarborrar{
    display: flex;
    justify-content: space-between;
    background-color: #534b4b;
}

.icono{
    height: 30px;
    width: 30px;
}

.icono:hover{
    transform:scale(1.1)
}



