body {
    font-family: "Oswald", sans-serif;
    align-items: center;
    /*hace que el footer se pegue abajo del todo*/
    height: 100%;
    width: auto;
}

html {
    background-color: #F0653B;
}

/*Texto titulo*/

.titulo {
    font-family: "Bebas Neue", sans-serif;
}

.titulo .naranja {
    color: #f97e3c;
}

.logo a {
    display: flex;
    /* Disposición en línea de los hijos directos */
    align-items: center;
    /* Alinea los elementos verticalmente */
    text-decoration: none;
    /* Quita el subrayado del enlace */
    color: inherit;
    /* Mantiene el color del texto */
}

.logo a:hover {
    transform: scale(1.1);
    /* Aumenta el tamaño del enlace al 110% del tamaño original */
    transition: transform 0.2s;
    /* Agrega una transición suave para que el efecto sea gradual */
}

.imglogo {
    width: 50px;
    height: auto;
}



/*Navbar*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    margin: 0;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}


.menu-toggle {
    display: flex;
}

.nav-links {
    z-index: 10;
    /*Hace que la hamburguesa se despliegue por encima de todo*/
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #333;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.nav-links li {
    margin: 20px 0;
}

.nav-links a {
    font-size: 24px;
}

.nav-links.active {
    height: calc(100vh - 60px);
    /* Dejar espacio para el header */
}


/*Ingresar socios*/

.togglenew{
    padding-top: 30px;
    text-align: center;
}

#botonToggle img {
    transition: transform 0.3s ease; /* Transición suave para la rotación */
}

.togglehijo:hover{
    transform: scale(1.05);
    transition: transform 0.15s ease;
}


.padre {
    display: none;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    text-align: center;
}

.hijo {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333333;
    box-shadow: 15px 15px 7px;
}

.nombre {
    display: flex;
    justify-content: center;
}

.botonsubmit {
    width: 40%;
    background-color: #F0653B;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Oswald", sans-serif;
}

.botonsubmit:hover{
    transform: scale(1.05);
    transition: transform 0.15s ease;
}

@media(min-width: 960px) {
    .padre {
        padding-left: 400px;
        padding-right: 400px;
        justify-content: center;
        text-align: center;
    }
}



/*notificaciones*/
.notificaciones{
    padding-top: 30px;
    padding-left:300px;
    padding-right: 300px;
}

@media(max-width: 960px) {
    .notificaciones{
        padding-left:30px;
        padding-right: 30px;
    }
}


@keyframes shakeBell {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-15deg); }
    50% { transform: rotate(15deg); }
    75% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}

.shake {
    animation: shakeBell 0.6s;
}


#botonToggle {
    position: relative;
}

.combined-overlay {
    position: absolute;
    top: 120px; /* Ajusta esta posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    width: 600px; /* Ajusta el ancho según sea necesario */
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.combined-overlay-content {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-height: 300px; /* Altura máxima del overlay */
    overflow: hidden;
}

.combined-overlay-content .overlay-section {
    width: 45%;
    max-height: 280px; /* Altura máxima de cada sección */
    overflow-y: auto; /* Habilitar barra de desplazamiento vertical */
}

.combined-overlay-content h2 {
    margin-bottom: 10px;
}

.combined-overlay-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.combined-overlay-content ul li {
    margin-bottom: 5px;
}

.close-overlay {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Personalizar la barra de desplazamiento */
.combined-overlay-content .overlay-section::-webkit-scrollbar {
    width: 8px;
}

.combined-overlay-content .overlay-section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.combined-overlay-content .overlay-section::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.combined-overlay-content .overlay-section::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}



@media(max-width: 960px) {
    .combined-overlay {
        width:90%
    }
}






/*Buscar*/

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 100%;
}

#searchButton {
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.agrandarlupa:hover {
    transform: scale(1.1);
    transition: transform 0.15s ease;
}





/*Tabla*/

@media(max-width: 960px) {
    .mobilehide{
        display: none;
    }
}


.tabla {
    padding-top: 20px;
    border-collapse:collapse;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media(max-width: 960px) {
    .tabla{
        width: 90%;
    }
}

.center{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

@media(min-width: 960px) {
    .center{
        padding-left: 35px;
        padding-right: 40px;
    }
}

.rows{
    color: black;
    font-palette: white;
    background-color: black;
    padding-right: 10px;
}


.rows:hover{
    transform: none;
}

.noagrandar{
    color: white;
}



.tabla td {
    border: 3px solid ;
    padding: 8px;
    text-align: center;
}

.gris:hover {
    background-color: rgba(255, 255, 255, 0.5);;
}

.agrandar:hover {
    transform: scale(1.2);
    transition: transform 0.15s ease;
}

.icono{
    height: 25px;
    width: 25px;
}










/*Edit*/

.modal {
    display: none;
    position: fixed;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-left: 300px;
    padding-right: 300px;
}

@media(max-width: 960px) {
    .modal{
        justify-content: center;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
    padding-right: 25px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.formm{
    padding-top: 0px;
}

.padreedit{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #333;
}



@media(max-width: 960px) {
    .padreedit{
        padding-bottom: 15px;
        padding-left: 15px;
    }
    
}




/*Eliminar socio*/

.confirm-delete {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333333;
    box-shadow: 15px 15px 7px;
    z-index: 1000;
}

.confirm-delete p{
    color: white;
}

.confirm-delete button {
    margin: 10px;
}

.botonesborrar{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

@media(max-width: 960px) {
    .botonesborrar{
        padding-left: 20px;
        padding-right: 20px;
    }
}

.sisnon{
    background-color: #F0653B;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.hoverrojo:hover{
    transform: scale(1.1);
    transition: transform 0.15s ease;
    color: red;
    cursor: pointer;
}

.hoverblanco:hover{
    transform: scale(1.1);
    transition: transform 0.15s ease;
    cursor: pointer;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}





/*Footer*/

footer {
    position: sticky;
	overflow: hidden;
	background-color: #212529;
	color: rgb(165, 165, 165);
	width: 100%;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	text-align: center;

}

.textofooter{
	text-align: center;
	display: flex;
}

footer a{
	color: rgb(165, 165, 165);
}

footer a:hover {
    transform: scale(1.1); /* Aumenta el tamaño del enlace al 110% del tamaño original */
    transition: transform 0.2s; /* Agrega una transición suave para que el efecto sea gradual */
}


.redeslogo{
	width: 30px;
	height: auto;
}











/*Asegura que el footer se pegue abajo del todo*/

/* Asegurarse de que el html y body ocupen el 100% de la altura */
html, body {
    height: 100%;
    margin: 0;
}

/* Hacer que el main contenedor ocupe todo el espacio disponible */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Opcional: centrar el contenido verticalmente */
}

/* Estilo para el footer para asegurarse que está al fondo */
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: relative;
    width: 100%;
}

















